mixin cta()
	section.cta&attributes(attributes)
		.cta__in
			h2.cta__title.title Оставьте заявку сейчас
			p.cta__text и получите оценку вашего проекта бесплатно!
			a.cta__button.button(href="#") Оставить заявку
