mixin advantages()
	section.advantages&attributes(attributes)
		img.advantages__foliage(src="assets/images/general/foliage-2.png", alt="")
		.advantages__in
			h2.advantages__title.title Преимущество наших окон
			.advantages__w
				.advantages__item
					.advantages__image
						img(src="assets/images/content/advantages-img-1.jpg", alt="")
					.advantages__content
						.advantages__item-title Форма
						.advantages__text Мы изготавливаем оконные конструкции разнообразных лекальных форм и крупных размеров. Наше производство позволяет создать неповторимый дизайн и надежную конструкцию
				.advantages__item
					.advantages__image
						img(src="assets/images/content/advantages-img-2.jpg", alt="")
					.advantages__content
						.advantages__item-title Материал
						.advantages__text Для наших окон мы используем исключительно древесину высшего сорта, такую как: <br/><br/>дуб американский, красное дерево(меранти), лиственница и сосна, а также различные экзотические виды, соответствующие европейским стандартам.
				.advantages__item
					.advantages__image
						img(src="assets/images/content/advantages-img-3.jpg", alt="")
					.advantages__content
						.advantages__item-title Инновации

						ul.advantages__list
							li.advantages__list-item Smart-стекла - окна могут менять прозрачность в зависимости от Вашего желания.
							li.advantages__list-item Энергосберегающие стеклопакеты с функцией самоочищения и подогрева.

							li.advantages__list-item Технология «kraft-decoration» - отделка алюминиевых фасадов деревянными коробами.

							li.advantages__list-item Окна с рекордными теплозащитными свойствами собственной разработки, в т.ч. для «пассивных домов»


				.advantages__item
					.advantages__image
						img(src="assets/images/content/advantages-img-4.jpg", alt="")
					.advantages__content
						.advantages__item-title Монтаж
						.advantages__text Мы используем новейшие технологии для качественного монтажа:

						ul.advantages__list
							li.advantages__list-item Монтаж окон по системе Illbruck
							li.advantages__list-item Выносной монтаж окон по системе BlaugelbTrioterm
							li.advantages__list-item Системы предварительного монтажа "Safeinstallationsystem"
