mixin hero()
	section.hero&attributes(attributes)
		.hero__slider
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg');")
				.hero__in
					h1.hero__title Натуральные окна из дерева
					.hero__text Самые доступные окна из сосны
					.hero__button-w
						.hero__button.button от 8 999 руб
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg');")
				.hero__in
					h1.hero__title Натуральные окна из дерева
					.hero__text Самые доступные окна из сосны
					.hero__button-w
						.hero__button.button от 8 999 руб
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg');")
				.hero__in
					h1.hero__title Натуральные окна из дерева
					.hero__text Самые доступные окна из сосны
					.hero__button-w
						.hero__button.button от 8 999 руб
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg');")
				.hero__in
					h1.hero__title Натуральные окна из дерева
					.hero__text Самые доступные окна из сосны
					.hero__button-w
						.hero__button.button от 8 999 руб
