mixin what()
	section.what&attributes(attributes)
		.what__in
			h2.what__title.title Что такое современные окна из дерева?

			.what__tabs.tabs

				.what__tabs-nav.tabs__nav
					a.what__tabs-link.what__tabs-link_active(href='#tab-1') Деревянные окна
					a.what__tabs-link(href='#tab-2') Дерево-алюминиевые окна

				.what__tabs-content.tabs__content
					.what__tab.what__tab_active#tab-1

						.what__window

							.what__img
								img(src="assets/images/content/wood.png", alt="")

							.what__list
								.what__item.what__item_1 Стеклопакет до 68 <br/>мм
								.what__item.what__item_2 Выбор формы <br/>поверхности окна
								.what__item.what__item_3 Более 10 вариантов <br/>формы и вида штапиков
								.what__item.what__item_4 До 6 защитных слоев <br/>покрытия, более 200 <br/>цветовых решений
								.what__item.what__item_5 Защита от воздействия влаги <br/>увеличивает срок службы
								.what__item.what__item_6 До 3 контуров <br/>уплотнения
								.what__item.what__item_7 Профиль из клееного бруса <br/>78, 86, 106 мм

					.what__tab#tab-2

						.what__window

							.what__img
								img(src="assets/images/content/wood.png", alt="")

							.what__list
								.what__item.what__item_1 Стеклопакет до 68 <br/>мм
								.what__item.what__item_2 Выбор формы <br/>поверхности окна
								.what__item.what__item_3 Более 10 вариантов <br/>формы и вида штапиков
								.what__item.what__item_4 До 6 защитных слоев <br/>покрытия, более 200 <br/>цветовых решений
								.what__item.what__item_5 Защита от воздействия влаги <br/>увеличивает срок службы
								.what__item.what__item_6 До 3 контуров <br/>уплотнения
								.what__item.what__item_7 Профиль из клееного бруса <br/>78, 86, 106 мм
