mixin reasons()
	section.reasons&attributes(attributes)
		img.reasons__foliage(src="assets/images/general/foliage-1.png", alt="")
		.reasons__in
			h2.reasons__title.title 5 причин доверять нам:
			ul.reasons__list
				li.reasons__item(data-num="1")
					.reasons__icon
						img(src="assets/images/content/reason-icon-1.png", alt="")
					.reasons__text Собственное произодство даёт нам возможность хорошой цены и отличного качества
				li.reasons__item(data-num="2")
					.reasons__icon
						img(src="assets/images/content/reason-icon-2.png", alt="")
					.reasons__text Экологично и современно! Клей, краска, фурнитура и механизмы от европейских производителей
				li.reasons__item(data-num="3")
					.reasons__icon
						img(src="assets/images/content/reason-icon-3.png", alt="")
					.reasons__text Предоставляем качественное гарантийное и сервисное обслуживание  от 2-х до 5-ти лет

				li.reasons__item(data-num="4")
					.reasons__icon
						img(src="assets/images/content/reason-icon-4.png", alt="")
					.reasons__text Наш принцип — индивидуальный подход к каждому клиенту. Нам доверяют!

				li.reasons__item(data-num="5")
					.reasons__icon
						img(src="assets/images/content/reason-icon-5.png", alt="")
					.reasons__text Мы установили уже 5 000 высококачественных окон, а это более 2860 м2 остекления!
