@font-face
	font-family 'Circe-Light'
	src local('Circe Light'), local('Circe-Light'),
		url('../fonts/hinted-subset-Circe-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-Circe-Light.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Circe-Regular'
	src local('Circe'), local('Circe-Regular'),
		url('../fonts/hinted-subset-Circe-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-Circe-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Circe-Bold'
	src local('Circe Bold'), local('Circe-Bold'),
		url('../fonts/hinted-subset-Circe-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-Circe-Bold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Circe-ExtraBold'
	src url('../fonts/hinted-subset-Circe-ExtraBold.woff2') format('woff2'),
		url('../fonts/hinted-subset-Circe-ExtraBold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'PTSerif-Bold'
	src local('PT Serif Bold'), local('PTSerif-Bold'),
		url('../fonts/hinted-subset-PTSerif-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSerif-Bold.woff') format('woff')
	font-weight normal
	font-style normal


$pB  = 'PTSerif-Bold', Arial, Helvetica Neue, Helvetica, sans-serif

$cL  = 'Circe-Light', Arial, Helvetica Neue, Helvetica, sans-serif
$cR  = 'Circe-Regular', Arial, Helvetica Neue, Helvetica, sans-serif
$cB  = 'Circe-Bold', Arial, Helvetica Neue, Helvetica, sans-serif
$cE  = 'Circe-ExtraBold', Arial, Helvetica Neue, Helvetica, sans-serif

