
mixin works()
	section.works&attributes(attributes)
		img.works__foliage(src="assets/images/general/foliage-3.png", alt="")
		.works__in
			h2.works__title.title Наши работы

			ul.works__list
				li.works__item

					.works__gallery
						a.works__gallery-image
							img(src="", alt="")

					a.works__link(href="#link")
						.works__image
							.works__button-w
								.works__button
								.works__button-text смотреть галерею
							img(src="assets/images/content/works-img-1.jpg", alt="")
					.works__item-title Центральное отделение «Сбербанка» Москва

				li.works__item
					a.works__link(href="#link")
						.works__image
							.works__button-w
								.works__button
								.works__button-text смотреть галерею
							img(src="assets/images/content/works-img-2.jpg", alt="")
					.works__item-title Государственный музей-заповедник «Царицыно»

				li.works__item
					a.works__link(href="#link")
						.works__image
							.works__button-w
								.works__button
								.works__button-text смотреть галерею
							img(src="assets/images/content/works-img-3.jpg", alt="")
					.works__item-title Государственный музей-заповедник «Царицыно»

				li.works__item
					a.works__link(href="#link")
						.works__image
							.works__button-w
								.works__button
								.works__button-text смотреть галерею
							img(src="assets/images/content/works-img-4.jpg", alt="")
					.works__item-title Центральное отделение «Сбербанка» Москва
