mixin footer()
	footer.footer&attributes(attributes)
		.footer__in
			.footer__top
				.footer__copyright &copy;Oknaderevo, 2018. <br/>Натуральные окна из дерева.
				a.footer__phone.phone.phone_sec(href="#")
					.phone__text Позвоните нам:
					.phone__val 8 (495) 133-39-36
				a.footer__email.email(href="")
					.email__text Напишите нам:
					.email__val info@oknaderevo.ru
				ul.footer__social.social
					li.social__item.social__item_fb
						a.social__link(href="#") Fb
					li.social__item.social__item_vk
						a.social__link(href="#") Vk
					li.social__item.social__item_inst
						a.social__link(href="#") Instagram

			.footer__bottom
				.footer__text
					a(href="#") Информация для архитекторов и строителей
