mixin text()
	section.text&attributes(attributes)
		h2.text__title.title Текстовый блок
		.text__row
			.text__in
				.text__text
					p Пример текста. Для наших окон мы используем исключительно древесину высшего сорта, такую как: дуб американский, красное дерево(меранти), лиственница и сосна, а также различные экзотические виды, соответствующие европейским стандартам.

					p Дуб американский, красное дерево(меранти), лиственница и сосна, а также различные экзотические виды, соответствующие европейским стандартам.
			.text__col-bg
			.text__col-img(style="background-image: url('assets/images/content/text-img-odd.jpg');")

		.text__row
			.text__in
				.text__text
					p Пример текста. Для наших окон мы используем исключительно древесину высшего сорта, такую как: дуб американский, красное дерево(меранти), лиственница и сосна, а также различные экзотические виды, соответствующие европейским стандартам.

					p Дуб американский, красное дерево(меранти), лиственница и сосна, а также различные экзотические виды, соответствующие европейским стандартам.
			.text__col-bg
			.text__col-img(style="background-image: url('assets/images/content/text-img-even.jpg');")
