mixin plastic()
	section.plastic&attributes(attributes)
		.plastic__in
			h2.plastic__title.title Пластик — это плохо!
			p.plastic__text Небольшой текст о том, почему пластик — это плохо. Собственное произодство даёт нам возможность хорошой цены и отличного качества
			ul.plastic__list
				li.plastic__item
					.plastic__image
						img(src="assets/images/content/features-icon-1.png", alt="")
					.plastic__item-text Дерево — материал, который прослужит до 50 лет
				li.plastic__item
					.plastic__image
						img(src="assets/images/content/features-icon-2.png", alt="")
					.plastic__item-text Дерево — экологически чистый материал, который не влияет на здоровье
				li.plastic__item
					.plastic__image
						img(src="assets/images/content/features-icon-3.png", alt="")
					.plastic__item-text Современные технологии позволяют сделать деревянные окна не менее надежнее, чем пластиковые
				li.plastic__item
					.plastic__image
						img(src="assets/images/content/features-icon-4.png", alt="")
					.plastic__item-text Окна из дерева отлично сохраняют тепло и шумоизолируют помещение
