.plastic
	display block
	background-color #fff9f2
	&__in
		@extends .in
		padding-top $sec-pad-vert
		padding-bottom $sec-pad-vert
		text-align center
		font-size 28px
	&__title
		margin-bottom $t-m-bot
		color #5d3a31
	&__text
		margin-bottom 56px
		padding-left 70px
		padding-right 70px
		color #49363b
	&__list
		display flex
		flex-flow row wrap
		justify-content center
		align-items flex-start

	&__item
		margin-bottom 43px
		width 40%
	&__image
		margin auto
		margin-bottom 28px
		max-width 314px
		img
			display block
			max-width 100%
			height auto

	&__item-text
		padding-left 50px
		padding-right 50px
